@font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-Regular-BF63e447c125540.ttf");
      font-weight: 400;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-Bold-BF63e447c282748.ttf");
      font-weight: 700;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-ExtraBold-BF63e447c035b44.ttf");
      font-weight: 800;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-ExtraLight-BF63e447c23361e.ttf");
      font-weight: 200;
      
      
  }
  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-Light-BF63e447c2db80e.ttf");
      font-weight: 300;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-Medium-BF63e447c31b18b.ttf");
      font-weight: 500;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-Regular-BF63e447c125540.ttf");
      font-weight: 400;
      
      
  }

  @font-face {
    font-family: "Unbounded";
    src:
      url("./assets/Unbounded-SemiBold-BF63e447c2afec0.ttf");
      font-weight: 600;
      
      
  }
  @font-face {
    font-family: "Satoshi";
    src:
      url("./assets/649d7ca1f5c7aa41f51eb483_satoshi-variable.ttf");
      font-weight: 400;
      
  }

  @font-face {
    font-family: "BDOGrotesk";
    src:
      url("./assets/BDOGrotesk-Medium-BF648a656f49882.otf");
      font-weight: 500;
      
      
  }

  

  @font-face {
    font-family: "ClashDisplay";
    src:
      url("./assets/ClashDisplay-Bold.otf");
      font-weight: 700;
      
      
  }
  @font-face {
    font-family: "ClashDisplay";
    src:
      url("./assets/ClashDisplay-Semibold.otf");
      font-weight: 600;
      
      
  }

  @font-face {
    font-family: "ClashDisplay";
    src:
      url("./assets/ClashDisplay-Regular.otf");
      font-weight: 400;
      
      
  }
  @font-face {
    font-family: "ClashDisplay";
    src:
      url("./assets/ClashDisplay-Extralight.otf");
      font-weight: 200;
      
      
  }

  @font-face {
    font-family: "Lo-Res";
    src:
      url("./assets/LoRes9PlusOTWide-Bold.ttf");
      font-weight: 700;
      
      
  }

  @font-face {
    font-family: "karla";
    src:
      url("./assets/Karla-Light.ttf");
      font-weight: 700;
      
      
  }



  
  

  @font-face {
    font-family: "ClashDisplay";
    src:
      url("./assets/ClashDisplay-Medium.otf");
      font-weight: 500;
      
      
  }
  @font-face {
    font-family: "Times New Roman";
    src:
      url("./assets/times\ new\ roman.ttf");
      font-weight: 400;
      
      
  }


  @font-face {
    font-family: "Times New Roman";
    src:
      url("./assets/times\ new\ roman\ bold.ttf");
      font-weight: 700;
      
      
  }

  @font-face {
    font-family: "Times New Roman";
    src:
      url("./assets/times\ new\ roman\ bold\ italic.ttf");
      font-weight: 700;
      
      
  }

  @font-face {
    font-family: "karla";
    src:
      url("./assets/Karla-Medium.ttf");
      font-weight: 500;
      
      
  }
  @font-face {
    font-family: "karla";
    src:
      url("./assets/Karla-ExtraBold.ttf");
      font-weight: 800;
      
      
  }
  @font-face {
    font-family: "karla";
    src:
      url("./assets/Karla-Bold.ttf");
      font-weight: 700;
      
      
  }
  @font-face {
    font-family: "AvantGarde";
    src:
      url("./assets/AVGARDD_2.TTF");
      font-weight: 400;
      
      
  }
 
 


  


 